{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h3>
            {% if edit_mode %}
                ✏️ แก้ไขงาน: {{ form.instance.task_name }}
            {% else %}
                ➕ เพิ่มงานใหม่
            {% endif %}
            </h3>
            <form method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary">บันทึกงาน</button>
                <a href="{% url 'task_list' %}" class="btn btn-secondary">ยกเลิก</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}