{% extends 'base.html' %}

{% block content %}
<div class="mt-3 mb-3 text-center">
    <h2>💠{{ task.task_name}}💠</h2>
    
      <figcaption class="blockquote-footer mt-2">
        ประเภทงาน : {{ task.category }}
      </figcaption>
</div>

<div class="card mt-4 ">
    <div class="card-header">
        <h3>ℹ️ Description</h3>
    </div>
    <div class="card-body mt-3">
        <p><em>{{ task.description|linebreaks }}</em></p>
    </div>  
</div>


<div class="card mt-4 ">
    <div class="card-header">
        <h3>📅 Deadline</h3>
    </div>
    <div class="card-body mt-3">
        <p><em>{{ task.deadline|date:"d F Y" }}</em></p>
    </div>  
</div>


<div class="card mt-4" style="width: 18rem;">
    <div class="card-header bg-transparent fw-bold">
        🏃‍➡️ Priority 
    </div>
    
    

    <div class="card-body {% if task.priority == 3 %}bg-danger text-white
                          {% elif task.priority == 2 %}bg-warning
                          {% else %}bg-info text-white{% endif %}">
        <span >
                                {{ task.get_priority_display }}
        </span>
    </div>
</div>

<div class="card mt-4" style="width: 18rem;">
    <div class="card-header bg-transparent fw-bold">
        🚉 Status 
    </div>
    
    

    <div class="card-body   {% if task.status == "todo" %}bg-warning
                            {% elif task.status == "pending" %}bg-info text-white
                            {% else %}bg-success text-white{% endif %}">
        <span >
                                {{ task.get_status_display }}
        </span>
    </div>
</div>
    

<div class="mt-5">
    <a href="{% url 'task_list' %}" class="btn-outline-secondary">ย้อนกลับ</a>
</div>

{% endblock %}